body {

    background-color: whitesmoke;
}

header {
    background-color: rgb(184, 204, 221);
    text-align: left;
    height: 118px;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}
nav {
    text-align: right;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    background-image: image("pexels-rodnae.jpg");
    height: 400px;
    width: auto;
}
img {
    height: 450px;
    width: 1333px;
}
/*section {
    background-color: rgb(255, 0, 85);
    height: fit-content;
    column-width: auto;
    text-align: center;
}*/
main{
  background-color: #ccc;
  height: auto;
  width: auto;
}
.About {
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 24px;
}
.column {
  flex: 30%;
  height: 200px;
  padding: 10px;
  margin: 5px;
  background-color: #cccccc;
  text-align: center;
}
.container {
   display: flex;
   flex-wrap: wrap;
}	
@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}
@media screen and (max-width: 500px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* starting from here is code line services. coloum*/

/*section {
    background-color: whitesmoke;
    height: 400px;
    width: auto;
}*/
a {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 40, 30);
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px; 
}
nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
    font-size: 20px;
    padding-right: 14px
}
/* Style inputs with type="text", select elements and textareas *//*stattiing from here is contact form css code*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .column {
    flex: 30%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #cccccc;
    text-align: center;
  }
  .container {
     display: flex;
     flex-wrap: wrap;
  }	
  @media screen and (max-width: 800px) {
    .column {
      flex: 40%;
      max-width: 40%;
    }
  }
  @media screen and (max-width: 500px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /*starting from here is the code for contact us*/
  input[type=text] , input[type=email], input[type=number] , textarea , select  {
    width: 100%; 
    padding: 12px;
    border: 1px solid #cccccc; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
  }

  /* Style the submit button  */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Adding hover */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around form*/
  .container2 {
    border-radius: 5px;
    background-color: #345678;
    padding: 18px;
  }
      footer {
        background-color: rgb(110, 110, 187);
        height: 118px;
        width: auto;
    }